<div class="main-element">
    <div class="sec_header">
        <div class="main_header">
            <h3 class="main-head"><i (click)="back()" class="fas fa-chevron-left back_arrow"></i>Change Password</h3>
        </div>
    </div>

    <div class="sec_two">
        <div class="form-group">
            <label for="usr">New Password:</label>
            <input [(ngModel)]="newpass" type="text" class="form-control" id="new_password">
        </div>
        <div class="update">
            <button id="save" (click)="updatePass()">Update</button>
        </div>
    </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<p style="text-align: center;"><img src="../../assets/gtick.png" style="width: 35%;" /></p>
				<p style="text-align: center;font-size: 16px;font-weight: 600;">Password Updated Successfully</p>
			</div>
		</div>
	</div>
</div>