<div class="sec_footer">
    <div class="footer_main">
        <div class="footer-child active_moerish" [routerLink]="['/dashboard']" routerLinkActive="router-link-active" >
            <img [routerLink]="['/dashboard']" routerLinkActive="router-link-active"  src="../../assets/mini_logo.png" alt="morish"/>
            <p [routerLink]="['/dashboard']" routerLinkActive="router-link-active" >Home</p>
        </div>
        <div class="footer-child cart_moerish" [routerLink]="['/cart']" routerLinkActive="router-link-active" >
            <img src="../../assets/acart.png" alt="cart" [routerLink]="['/cart']" routerLinkActive="router-link-active" />
            <p [routerLink]="['/cart']" routerLinkActive="router-link-active">Cart</p>
        </div>
        <div class="footer-child profile_moerish">
            <img src="../../assets/profile.png" alt="profile"/>
            <p>Profile</p>
        </div>
    </div>
</div>