<div class="root-element">
    <div class="sec-one-one">
       
        <h2 class="sec-one-head  pt-4"><span class="sec-one-icon"><i class="fas fa-chevron-left" (click)="back()"></i></span><span class="sec-one-sub-head">Payment</span></h2>

      
        <p class="sec-one-para" *ngIf="addList.length>0">Select Delivery Address</p>
			<div class="delivery_boxes" *ngFor="let i of addList">
				<div class="address_check" ><input (click)="changAddr(i)" type="radio" name="address_name" value="i.fulladdress"></div>
				<div class="address_box">
				{{i.fulladdress}}
				</div>
				
			</div>
			<p class="sec-one-para">Add Delivery Address</p>
			<p class="get_current_loc" (click)="locate()">Click to get Current Location</p>
        <form  (ngSubmit)="onSubmit()" [formGroup]="addressForm" id="form1">
         
            <label class="form_label">Address</label>
            <input type="text" formControlName="address" name="address" id="addr" class="form-control">
            <label class="form_label">Location</label>
            <input type="text" name="location" formControlName="location" id="loc" class="form-control">
            <label class="form_label">Pin</label><br>
            <div style="    display: -webkit-inline-box;">
               <input type="text" name="pincode" formControlName="pin" id="pin" class="form-control"> &nbsp;&nbsp;<i *ngIf="isLoad" class=" fa fa-spinner fa-spin fa-2x"> </i><i *ngIf="isPin" class="fa fa-check fa-2x" aria-hidden="true"></i>
            </div>
            <br>
          
            <label class="form_label_total">Total payable</label>
            <p class="price-total">{{sum |currency:'INR':'symbol':'1.0'}}</p>
            <hr/>
            <label class="form_label_pay">Select payment type</label>
            <div>
                <span class=" btn ctn-btn " [ngClass]="{'bt-active':(payCard == 'cash'?true:false) }" (click)="payCard = 'cash'"  >Cash</span>
                <span class="btn ctn-btn" [ngClass]="{'bt-active':(payCard == 'card'?true:false) }"  value="card" (click)="payCard = 'card'" >Credit card/PayPal</span>					
            </div>
            <hr/>
            <button class="proceed"  type="submit" form="form1" value="Submit">Proceed</button>
        </form>
    </div>
</div>