<div class="main-element">
    <div class="sec_header">
        <div class="main_header">
            <h3 class="main-head"><i (click)="back()" class="fas fa-chevron-left back_arrow"></i>Support</h3>
        </div>
    </div>

    <div class="sec_two">
        <h4>Get in touch</h4>
        <p>Want to get in touch? We'd love to hear from you. Here's how you can reach us...</p>
        <div class="supp_box">
            <p><i class="fas fa-phone-volume"></i></p>
            <p>Talk to Support</p>
            <h4>9999999999</h4>
        </div>
        <div class="supp_box">
            <p><i class="fas fa-envelope-square"></i></p>
            <p>Contact Customer Support</p>
            <h4>support@moerish.com</h4>
        </div>
    </div>
</div>