<div class="main-element">
	<div class="sec-one">
		<div class="sec-one-one"></div>
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="../../assets/start0.svg" alt="start0">
				
					
				</div>

				<div class="carousel-item">
					<img src="../../assets/start0.svg" alt="start1">
				
					
				</div>

				<div class="carousel-item">
					<img src="../../assets/start0.svg" alt="start2">
				
					
				</div>
			
			</div>
		
			
			<ol class="carousel-indicators pt-2">
				<li data-target="#myCarousel" data-slide-to="0" class="idle active"></li>
				<li data-target="#myCarousel" data-slide-to="1" class="idle"></li>
				<li data-target="#myCarousel" data-slide-to="2" class="idle"></li>
			</ol>
		</div>
		<h2 class="sec-one-head pt-2">Fast Delivery</h2>
		<p class="sec-one-para">Lorem ipsum dolor sit amet, consetetur</p>
	
	</div>
	<div class="sec-two">
		<div class="sec-two-one"></div>
		<h2 class="sec-two-head">Lets get started</h2>
		<p class="sec-two-para">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.</p>
		<div class="sec-two-button">
			<button class="register" [routerLink]="['/register']" routerLinkActive="router-link-active" >Register</button>
		</div>
		<p class="sec-two-login" [routerLink]="['/login']" routerLinkActive="router-link-active" >Already User? Login here</p>
	</div>
</div>
