<div class="main-element">
    <div class="sec-one">
        <div class="sec-one-empty"></div>
        <div class="sec-one-one">
            <img src="../../assets/login.svg" alt="login">
        </div>
        <h2 class="sec-one-head">Forgot password?</h2>
        <p class="sec-one-para">Lorem ipsum dolor sit amet, consetetur</p>
        <div class="form-input">
            <form action="#" method="post" id="form1">
                <input type="text" name="email" formcontrol='email' placeholder="Enter Email" id="email" class="form-control">
            </form>
        </div>
    </div>
    <div class="sec-two">
        <div class="sec-two-button">
            <button class="go" type="submit" form="form1" value="Submit">Go</button>
        </div>
        <p class="sec-two-fgt" [routerLink]="['/login']" routerLinkActive="router-link-active" >Login here</p>
    </div>
</div>