.sec_header {
    height: 10vh;
    padding: 26px 15px 15px 15px;
}
.sec_two {
	height: 90vh;
	padding: 0px 15px;
}
hr {
    margin: 0px;
}
@media screen and (min-width: 601px) {
    .sec_header, .sec_two {
        height: auto !important;
    }
}
.sec_header p {
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 0px;
}
p.region {
    font-size: 12px;
    margin-bottom: 5px;
}
h3.item_name {
    margin: 0px;
    font-size: 18px;
    font-weight: 600;
}
img.item_image {
    margin: 12px 0px;
}
.orange_star {
    color: #ffbc00;
    padding: 0px 1px;
}
#rating {
    color: #ffbc00;
    font-size: 12px;
    font-weight: 600;
    padding-left: 6px;
}
span#cost {
    float: right;
    font-size: 18px;
    color: #C00037;
}
.item_cost {
    padding-right: 4px;
}
p.item_desc {
    font-size: 12px;
    margin-bottom: 0px;
    line-height: 15px;
    color: grey;
    margin-top: 10px;
}
p.rating_desc {
    font-size: 12px;
    margin-bottom: 0px;
    line-height: 15px;
    color: grey;
}
button.add, button.quantity {
    width: 100%;
    border: none;
    padding: 8px;
    margin: 15px 0px;
}
button.add i, button.quantity i {
    color: #c10037;
    font-size: 18px;
    vertical-align: text-top;
}
button.add span, button.quantity span {
    font-size: 15px;
    margin: 0px 8px;
    font-weight: 600;
    vertical-align: text-top;
}
.reviews {
    margin: 10px 0px;
}
p.rating_stars {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 2px;
}
p.related_stars {
    color: #ffbc00;
    font-size: 18px;
    font-weight: 600;
    margin: 10px 0px 5px 0px;
}
p.read_more {
    margin: 20px 0px;
    color: #c10037;
    text-decoration: underline;
    font-size: 14px;
    font-weight: 600;
}
h3.related_head {
    font-size: 22px;
    color: #C00037;
    font-weight: 600;
}
.box1 {
    width: 46%;
    display: inline-block;
    margin-right: 3%;
    vertical-align: text-top;
}
.item_boxes {
    margin: 10px 0px 20px 0px;
}
.box1 h3 {
    margin: 0px 0px 20px 0px;
    font-size: 16px;
    font-weight: 600;
}

.carousel-indicators{
	bottom: unset;
}
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
  }
.idle.active {
background: #C00037!important;
  }

  .sec_footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
	height: 10vh;
    padding: 10px 0px;
    box-shadow: 0px 0px 16px rgb(0 147 233 / 12%);
    background-color: #ffff;
}
.footer-child {
    width: 32.3333%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}
.footer-child img {
    margin-bottom: 2px;
    margin-right: 2px;
}
.footer-child p {
    color: #969595;
    font-weight: 600;
    margin-bottom: 0px;
}

.cart_moerish, .profile_moerish {
    margin-top: 5px;
}
.cart_moerish img {
    height: 24px;
}
.cart_moerish p {
    font-size: 12px;
}
.active_moerish img {
    height: 28px;
}
.active_moerish p {
    font-size: 12px;
}
.profile_moerish img {
    height: 24px;
}
.profile_moerish p {
    font-size: 12px;
}
.router-link-active{
    color: #c00037 !important;
}
span.cart_counter {
    background: #c00037;
    color: #ffffff;
    font-weight: 600;
    font-size: 12px;
    padding: 2px 8px;
    border-radius: 32px;
    position: absolute;
    margin-top: -10px;
    margin-left: -10px;
}



.cross {
    padding: 10px;
    color: #C00037;
    cursor: pointer;
    font-size: 23px
}

.cross i {
    margin-top: -5px;
    cursor: pointer
}

.comment-box {
    padding: 5px
}

.comment-area textarea {
    resize: none;
    border: 1px solid #C00037
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ffffff;
    outline: 0;
    box-shadow: 0 0 0 1px rgb(255, 0, 0) !important
}

.send {
    color: #fff;
    background-color: #C00037;
    border-color: #C00037
}

.send:hover {
    color: #fff;
    background-color: #C00037;
    border-color: #C00037
}

.rating {
    display: inline-flex;
    margin-top: -10px;
    flex-direction: row-reverse
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 28px;
    font-size: 35px;
    color: #C00037;
    cursor: pointer
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}