<div class="main-element">
	<div class="sec-one">
		<div class="sec-one-one">
			<img src="../../assets/register.svg" alt="login">
		</div>
		<h2 class="sec-one-head">Register</h2>
		<p class="sec-one-para">Lorem ipsum dolor sit amet, consetetur</p>
		<div class="form-input">
			<span *ngIf="shwmsg">{{msg}}</span>
			<form [formGroup]="RegisterForm"
			(ngSubmit)="Register()" method="post" id="form1">
				<input type="text" name="username" formControlName="name" placeholder="Name" id="user" class="form-control">
				<input type="email" name="email" formControlName="email" placeholder="Email" id="email" class="form-control">
				<input type="text" name="phone" formControlName="mobile" placeholder="Phone" id="phone" class="form-control">
				<input type="password" name="Password" formControlName="password" placeholder="Password" id="pwd" class="form-control">
			</form>
		</div>
	</div>
	<div class="sec-two">
		<div class="sec-two-button">
			<button class="go" click="Register()" type="submit" form="form1" value="Submit">Go</button>
		</div>
		<p class="sec-two-fgt" [routerLink]="['/login']" routerLinkActive="router-link-active" >Existing user? Please Login</p>
	</div>
</div>
