
.sec-two {
    position: absolute;
    width: 100%;
    bottom: 0%;
	/*height: 25vh;*/
	background: #C00037;
	border-radius: 10px 10px 0px 0px;
}
.sec-one-one {
    text-align: center;
    height: 33%;
    width: 50%;
    margin: 0px auto 0px auto;
}
.sec-one-one img {
	margin-top: 10px;
    width: 100%;
}
.sec-one-head {
	height: 9%;
	color: #C00037;
    font-size: 30px;
    margin: 20px 0px 6px 0px;
    font-weight: 600;
    text-align: center;
}
.sec-one-para {
	height: 10%;
	color: #8C8C8C;
	font-size: 17px;
	text-align: center;
	margin: 0px 0px 8px 0px;
}
.form-input {
	height: 45%;
    width: 85%;
    margin: 0px auto 20px auto;
}
#user, #email, #phone {
	margin-bottom: 15px;
}
#user, #pwd, #email, #phone {
	border: 1px solid #C00037;
	border-radius: 4px;
    height: 40px;
}
#user::placeholder, #pwd::placeholder, #email::placeholder, #phone::placeholder {
	text-align: center;
	color: #9B9B9B;
	font-size: 17px;
}
.sec-two-button {
	height: 62%;
	text-align: center;
}
.go {
    background: #FFFFFF;
    border: none;
    height: 43px;
    width: 131px;
    font-size: 20px;
    color: #C00037;
    font-weight: 600;
    border-radius: 8px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.sec-two-fgt {
    cursor: pointer;
    margin: 10px 0px 25px 0px;
    color: #FFFFFF;
    font-size: 17px;
    text-align: center;
}
@media screen and (min-width: 601px) {
    .sec-one-one {
        margin-top: 10px;
        margin-bottom: 25px;
    }
    .form-input {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .sec-two-button {
        margin-bottom: 20px;
    }
    p.sec-two-fgt {
        padding-bottom: 20px;
    }
}